.banner{
    background-size: cover;
    background-position: center;
    height: 40vh; /* Adjust the height as needed */
    color: white;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-overlay{
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}